<div class="card mt-2">
    <div class="card-header">
        <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Ferrari/F8-Tributo/7945/1598599471404/front-left-side-47.jpg?tr=w-456" alt="car img" width=100%>
    </div>
    <div class="card-body">
        <p class="text-left d-block">model: Ferrari F8 Tributo</p>
        <p class="text-left-left d-inline">Price: Rs.4.02 Cr</p>
        <div class="float-end d-inline-block">
            <button class="btn btn-info " data-bs-target="#md1" data-bs-toggle="modal">Add to cart</button>
        </div>
    </div>
</div>