<div class="card mt-2">
    <div class="card-header">
        <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Lamborghini/Huracan-EVO/6729/1570440785813/front-left-side-47.jpg?tr=w-456" alt="car img" width=100%>
    </div>
    <div class="card-body">
        <p class="text-left d-block">model: Lamborghini Huracan EVO</p>
        <p class="text-left-left d-inline">Price: Rs 4.10 Cr</p>
        <div class="float-end d-inline-block">
            <button class="btn btn-info" data-bs-target="#md1" data-bs-toggle="modal">Add to cart</button>
        </div>
    </div>
</div>