<div class="card mt-2 mb-2">
    <div class="card-header">
        <img src="https://di-uploads-pod6.dealerinspire.com/jaguardarien/uploads/2018/06/2019-jaguar-f-type-coupe-f-type-r-in-yulong-white-with-silver-weave-carbon-fiber-packages.jpg" alt="car img" width=100%>
    </div>
    <div class="card-body">
        <p class="text-left d-block">model: Jaguar F-TYPE</p>
        <p class="text-left-left d-inline">Price: Rs 2.5Cr</p>
        <div class="float-end d-inline-block">
            <button class="btn btn-info" data-bs-target="#md1" data-bs-toggle="modal">Add to cart</button>
        </div>
    </div>
</div>